@import url(global.css);

.login {
   color: white;
   max-width: 1920px;
   padding: 50px;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: 100vh;
}

.introducao {
   background-image: linear-gradient(to bottom, var(--cor-secundaria), black);
   padding: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}

.introducao h1 {
   font-size: 2.25rem;
   text-align: center;
}

.form-login {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
   padding: 50px;
}

.form-login h2 {
   font-size: 4rem;
}

.form-login form {
   display: flex;
   flex-direction: column;
   gap: 50px;
   width: 100%;
}

.form-login label {
   font-size: 1.5rem;
}

.form-login input {
   font-size: 1.5rem;
   border: none;
   outline: 0;
   border-radius: 10px;
   padding: 24px;
   width: 100%;
   background-color: var(--cinza-input);
}

#botao-submit {
   background-color: var(--cor-secundaria);
   color: white;
}

#botao-submit:hover {
   cursor: pointer;
}

@media (max-width: 1600px) {
   .login {
      padding: 20px;
   }

   .introducao {
      padding: 50px;
   }

   .introducao h1{
      font-size: 1.5rem;
   }

   .introducao img{
      width: 200px;
   }

   .form-login{
      gap:30px
   }

   .form-login h2{
      font-size: 2.5rem;
   }

   .form-login form{
      gap: 30px;
   }

   .form-login label{
      font-size: 1rem;
   }

   .form-login input{
      font-size: 1rem;
      padding: 16px;
   }

   /* alteração feita teste */
}