@import url("global.css");

body{
   padding-bottom: 50px;
}

.titulo-admin {
    max-width: 1200px;
    margin: 50px 0;
    padding: 100px 50px;
    border-radius: 5px;
    background-color: var(--cinza-claro);
}

.titulo-admin h1 {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 2.25rem;
}

.status-jogos {
   display: flex;
   gap: 20px;
   color: white;
   list-style: none;
   margin: 20px 0;
}

.status-jogos li {
   padding: 5px 15px;
   background-color: var(--cinza-claro);
   border-radius: 5px;
   font-weight: 300;
}

.abas {
   max-width: 100%;
   background-color: var(--cinza-claro);
   border-radius: 5px;
}

.abas-options {
   color: white;
   display: flex;
   list-style: none;
}

.abas-options li {
   padding: 10px 25px;
   font-size: 1.25rem;
   font-weight: 600;
   border-radius: 5px;
}

.abas-options li:hover {
   background-color: var(--cor-secundaria);
}

#aba-atual {
   background-color: var(--cor-secundaria);
}

.lista-jogos {
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
   margin-top: 50px;
}

.lista-usuarios {
   border-radius: 5px;
   margin-top: 50px;
   max-width: 100%;
   background-color: var(--cinza-claro);
}

.editar-perfil {
   background-color: var(--cinza-claro);
   border-radius: 5px;
   padding: 20px;
   margin-top: 50px;
   max-width: 100%;
   color: white;
}

.editar-perfil h2 {
   text-align: center;
   margin-bottom: 30px;
}

.editar-perfil form{
   display: grid;
   grid-template-columns: 1fr;
   gap: 15px;
}

.editar-perfil button{
   padding: 10px;
   background-color: var(--cor-secundaria);
   border: none;
   outline: none;
   font-size: 1.25rem;
   color: white;
   border-radius: 5px;
}

.usuarios li {
   display: flex;
   align-items: center;
   font-size: 1.25rem;
   justify-content: space-between;
   padding: 20px;
}

.usuarios li:nth-child(even) {
   background-color: #49464c;
}

.usuario {
   display: grid;
   grid-template-columns: 1fr 2fr;
   width: 100%;
   gap: 20px;
   align-items: center;
   color: white;
   font-weight: 500;
}

.usuario a:hover {
   color: var(--cor-secundaria);
}

.foto-perfil-usuario {
   width: 50px;
   height: 50px;
   border-radius: 100px;
   background-color: aqua;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   color: black;
}

.acoes {
   display: flex;
   gap: 10px;
}

.negar,
.aceitar {
   padding: 5px 10px;
   color: white;
   border: none;
   border-radius: 5px;
   outline: none;
}

.negar {
   background-color: red;
}

.aceitar {
   background-color: green;
}
