@import url("global.css");

header {
   width: 100%;
   background-color: var(--cor-secundaria);
   padding: 10px;
   position: relative;
}

nav {
   max-width: 1200px;
   display: grid;
   grid-template-columns: auto 1fr auto;
   gap: 50px;
   align-items: center;
   margin: auto;
}

.admin {
   background-color: aqua;
   color: black;
   padding: 5px 10px;
   border-radius: 5px;
   position: absolute;
   right: 30px;
}

.foto-perfil-header {
   width: 60px;
   height: 60px;
   border-radius: 100px;
   background-color: aqua;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
}

.busca input {
   width: 100%;
   max-height: 60px;
   padding: 20px 30px;
   font-size: 1.5rem;
   background-color: var(--cinza-input);
   border: none;
   border-radius: 10px;
   outline: 0;
}

section {
   margin-bottom: 100px;
}

section h1 {
   margin: 50px 0;
   color: white;
   font-size: 2.5rem;
   font-weight: bold;
   text-align: center;
}

.form-jogo {
   background-color: var(--cinza-claro);
   padding: 20px;
   border-radius: 5px;
}

.form-jogo label {
   color: white;
   font-size: 1.225rem;
   font-weight: bold;
}

.input-text {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.input-text input,
.input-text textarea {
   background-color: var(--cinza-input);
   outline: none;
   border: none;
   border-radius: 5px;
   padding: 10px;
   font-size: 1.125rem;
}

.input-checkbox {
   margin-top: 20px;
}

.input-checkbox label {
   margin-right: 10px;
}

.input-submit input {
   background-color: var(--cor-secundaria);
   outline: none;
   border: none;
   border-radius: 5px;
   padding: 10px;
   font-size: 1.125rem;
   color: white;
   margin-top: 20px;
   width: 100%;
}

.input-submit input:hover {
   cursor: pointer;
}
